/* Write your global styles here, in SCSS syntax. Variables and mixins from the src/variables.scss file are available here without importing */

input:disabled {
	color: #ccc;
}

button {
	color: #333;
	background-color: #f4f4f4;
	outline: none;
}

button:disabled {
	color: #999;
}

button:not(:disabled):active {
	background-color: #ddd;
}

button:focus {
	border-color: #666;
}

/* Works on Firefox */
* {
	scrollbar-width: thin;
	scrollbar-color: var(--clr-primary) var(--clr-light);
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
	width: 12px;
	height: 12px;
}

*::-webkit-scrollbar-track {
	background: var(--clr-primary);
}

*::-webkit-scrollbar-thumb {
	background-color: var(--clr-light);
	border-radius: 20px;
	border: 3px solid var(--clr-primary);
}

/* hide scrollbar but allow scrolling */
[hide-scroll="S"] {
	-ms-overflow-style: none; /* for Internet Explorer, Edge */
	scrollbar-width: none; /* for Firefox */
	overflow-y: scroll;
}

[hide-scroll="S"]::-webkit-scrollbar {
	display: none; /* for Chrome, Safari, and Opera */
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

	letter-spacing: 0.01rem;
}

body {
	background: var(--background);
	color: var(--text-primary);
}

button {
	user-select: none;
}

:root {
	--clr-primary: #6b46c1;
	--clr-light: #e1f5fe;
	--clr-gray100: #f9fbff;
	--clr-gray150: #f4f6fb;
	--clr-gray200: #eef1f6;
	--clr-gray300: #e1e5ee;
	--clr-gray400: #767b91;
	--clr-gray500: #4f546c;
	--clr-gray600: #2a324b;
	--clr-gray700: #161d34;
	--clr-font: var(--clr-gray700);
	--clr-link: #2962ff;

	/* // Assumes the browser default, typically `16px` */
	--font-base: 0.95rem;
	--font-lg: calc(var(--font-base) * 1.25);
	--font-sm: calc(var(--font-base) * 0.875);
	--font-xs: calc(var(--font-base));
	--font-xl: calc(var(--font-base) * 1.35);

	--lm-shadow-active: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
	--lm-shadow-inactive: 0px 16px 30px -10px rgba(0, 0, 0, 0.2);

	--input-focus: #006cff;
	--input-hover: #ff8c42;
	--input-error: #b00020;
	--input-background: #f6f8ff;
	--border-inactive: #e6e6e6;

	/*   border radius */
	--radius: 0.2rem;
}

[dark-theme="S"] {
	--clr-light: #4fc3f7;
	--clr-font: var(--clr-gray100);
}

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

* {
	font-family: "Mukta", sans-serif;
	font-weight: 400;
	padding: 0;
	color: var(--clr-font);
}
